{{!-- {{log this}} --}}

<h1>Book details:</h1>

<section class="book-details">
	<h2>{{this.title}}</h2>
	<p>
		Author: {{this.author}} <br />
		Rating: {{this.rating}} <br />
	</p>
</section>

<section class="book-details">
	<h2>{{title}}</h2>
	<p>
		Author: {{author}} <br />
		Rating: {{rating}} <br />
	</p>
</section>
